:root {
  /* background-color: #ffe9f5; */
}

* {
  font-family: "Hina Mincho", serif;
  font-size: 20px;
  margin-left: 30px;
}

body {
  background-image: url(../images/wp2871799.jpg);
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.favorite-series {
  background-color: #900c3f !important;
  justify-content: center;
  align-items: center;
  color: #c9496d;
}

.favorite-image {
  height: 100px;
}

.flexboxfav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: #af8cb6;
}

.closeButton {
  background-color: #af8cb6;
  color: black;
  border: none;
}

.closeButton:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.main-title {
  font-family: "Satisfy", cursive;
  font-size: 70px;
  margin-left: 30px;
  margin-top: 20px;
  color: #581845;
}

.eslogan {
  font-family: "Satisfy", cursive;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
  color: #900c3f;
}
.flexsearcher {
  display: flex;
  flex-direction: row;
}

#searchfieldinput {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* #searchbutton {
  background-color: #5f8d5f;
  color: white;
  font-weight: 400;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  border-radius: 4px;
} */

.reset-button {
  background-color: #714c72;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  justify-content: baseline;
}

.reset-button:hover {
  cursor: pointer;
  background-color: white;
  color: #714c72;
  border: 1px solid #714c72;
}

.favourite-title {
  margin-bottom: 2px;
  margin-left: 30px;
  font-size: 20px;
}

.flexcontainersfavandseries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  align-items: flex-start;
  text-align: justify;
}

.favseriescss {
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
  width: 250px;
}

.flexcontainerseries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: flex-start;
  width: 60vw;
  height: 100%;
  flex: 1;
}

.csseditseries {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: #98c0c7;
}
.csseditseries:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.csstextseries {
  margin-top: 10px;
  text-align: center;
  justify-content: auto;
  align-items: auto;
}
